# these files would be easily googleable from the problem description so don't include
network_topology.txt
functional_tests.rb
network_topology_parser_tests.rb

# rubymine settings folder
.idea

gemfile.lock

## simplecov code coverage results
coverage