# this file would be easily googleable from the problem description so don't include it
network_topology.txt

# rubymine settings folder
.idea

gemfile.lock

## simplecov code coverage results
coverage